<header>
    <a href="" routerLink="/" class="logo"><img src="../assets/img/logo.svg" alt=""></a>
    <ul class="navigation">
        <li>
            <span>Все услуги</span>
            <ul>
                <li>
                    <ul>
                        <li>
                            <a href="" routerLink="/card2card">Переводы</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <a href="" routerLink="/oplata-uslug">Платежи</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="" routerLink="/tarif">Тарифы</a>
        </li>
        <li>
            <a href="" routerLink="/onas">О нас</a>
        </li>
        <li>
            <a href="" routerLink="/faq">FAQ</a>
        </li>
    </ul>
</header>
<div class="mainWrapper">
    <router-outlet></router-outlet>
</div>
<footer>
    <ul>
        <li>
            <a href="" routerLink="/onas">О нас</a>
        </li>
        <li>
            <a href="" routerLink="/faq">FAQ</a>
        </li>
        <li>
            <a href="" routerLink="/tarif">Тарифы</a>
        </li>
        <li>
            <a href="" routerLink="/bezopasnost">Безопасность</a>
        </li>
        <li>
            <a href="" routerLink="/legal">Правовая информация</a>
        </li>
    </ul>
</footer>

